@page "/AddingProductPage"
@using HttpApiClient
@using Models

@inject ApiClient _apiClient

<h3>Adding Product</h3>

    <EditForm Model="_product" OnValidSubmit="AddProduct">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <p>Name</p>
        <InputText @bind-Value="_product.Name"></InputText>

        <p>Price</p>
        <InputNumber @bind-Value="_product.Price"></InputNumber>

        <p>Image</p>
        <InputText @bind-Value="_product.Url"></InputText>

        <input type="submit" name="addbutton" value="Add"/>
    </EditForm>

@if (IsAdded)
{
    <p style="font-size: 30px"><b>Added!</b></p>
}

@code {
    private readonly Product _product = new Product();
    private bool IsAdded = false;

    private async Task AddProduct()
    {
        await _apiClient.AddProduct(_product);

        IsAdded = true;
    }
}