@page "/CatalogPage"
@using HttpApiClient
@using Models

@inject ApiClient _apiClient
@inject ICartForShop _cartForShop
@inject CountProducts _countProducts

<h3>Catalog</h3>
@if (_products != null)
{
    @foreach (var product in _products)
    {
        <p>@product.Name <img src="@product.Url" alt=""/><button @onclick="() => AddToCart(product)">Add</button></p>
    }
}

@code {
    private IReadOnlyList<Product>? _products;
    private IReadOnlyList<Product>? _cart;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _products = await _apiClient.GetProducts();
        _cart = _cartForShop.GetCart();
    }

    private void AddToCart(Product prod)
    {
        _cartForShop.AddToCart(prod);

        _cart = _cartForShop.GetCart();

        _countProducts.Count++;
    }
}