@page "/RemovingProductPage"
@using Models
@using HttpApiClient
@using System.Diagnostics

@inject ApiClient _apiClient
 
<h3>Removing Product</h3>

<EditForm Model="_product" OnValidSubmit="RemoveProduct">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <p>Name</p>
        <InputText @bind-Value="_product.Name"></InputText>

        <input type="submit" name="removebutton" value="Remove"/>
    </EditForm>

@if (IsRemoved)
{
    <p style="font-size: 30px"><b>Removed!</b></p>
}

@code {
    private readonly Product _product = new Product();
    private bool IsRemoved = false;

    private async Task RemoveProduct()
    {
        await _apiClient.RemoveProduct(_product);

        IsRemoved = true;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

}