@page "/SignInPage"
@using HttpApiClient
@using Models

@inject ApiClient _apiClient

<h3>Login</h3>


<EditForm Model="_loginRequest" OnValidSubmit="SignIn" hidden="@IsSignIn">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <p>Login</p>
    <InputText @bind-Value="_loginRequest.Login"></InputText>

    <p>Password</p>
    <InputText @bind-Value="_loginRequest.Password"></InputText>

    <input type="submit" name="signinbutton" value="Sign In"/>
</EditForm>

@if (IsSignIn)
{
    <p style="font-size: 30px"><b>SignIn</b></p>
}

@code {
    private LoginRequest _loginRequest = new LoginRequest();
    
    private bool IsSignIn = false;
    
    private async Task SignIn()
    {
        var response = await _apiClient.SignIn(_loginRequest.Login, _loginRequest.Password);
        
        if (response is not null)
        {
            IsSignIn = true;
        }
    }
}